<div id="container">
  <h1 class="project-title">Animated Typography: Telfar</h1>
  <p>
    <strong>Role:</strong> Computer Graphics Designer
    <br />
    <strong> Type of Project:</strong> Academic
    <br />
    <strong>Library:</strong> p5.js
  </p>

  <img
    style="width: 100%"
    alt="Telfar Animated Typography"
    src="assets/Telfar.gif"
  />

  <p>
    <strong>Problem Statement:</strong> Create a landing page for a brand's
    website, focusing on animated (and optionally interactive) typography. Think
    about stylistic choices in the context of a client-driven project and their
    brand (color, typefaces used, overall feel,etc.) but are also encouraged to
    creatively/wildly experiment.
  </p>

  <p>
    <strong>Challenge:</strong> To create animated typography for a
    brand/person/org's website. Can be a fixed proportion, but should fill the
    screen's width automatically.
  </p>
  <p>
    <strong>What I did:</strong> I used p5.js to create an animated landing page
    for Telfar.
  </p>
  <hr />
  <h2>Timeline and Milestones</h2>
  <p style="text-align: left">
    Design brief by 2/2/2022 ✓<br />
    Final design by 2/9/2022 ✓<br />
  </p>
  <hr />
  <h2>Design Brief</h2>
  <p>
    <strong
      ><a target="_blank" href="https://shop.telfar.net/">Telfar</a></strong
    >
    is genderless fashion label based in Bushwick, Brooklyn. The queer
    Black-owned brand was founded by Telfar Clemens in 2005. The Telfar Shopping
    Bag is the biggest staple of the brand, made of vegan leather and branded
    with the signature "T" logo.<br />
    Highlighted in the design brief are:
  </p>
  <ul>
    <li>Audience: words to describe the target audience of Telfar</li>
    <li>Visual & Motion Words: descriptors used to inspire the typography</li>
    <li>Font Samples</li>
    <li>Color Schemes</li>
    <li>Mood Board: specific design inspirations</li>
  </ul>
  <p>
    My main inspiration was sourced from
    <a
      target="_blank"
      href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.behance.net%2Fgallery%2F25131503%2FPolytechnic-University-Design-Annual-Show-2013&psig=AOvVaw1M3o-c6_S-iWGE9n93iNO3&ust=1644959448571000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCODikc-NgPYCFQAAAAAdAAAAABAN"
      >Hong Kong PolyU Design Shows in 2013</a
    >. I loved how the typography overlaps each other to create a dynamic image
    with simple geometry. I knew I could code something as dynamic and make it
    come to life.
  </p>

  <h4>
    <a
      target="_blank"
      href="https://drive.google.com/file/d/1Ig_xvDJp1qx70XEv63QE3EMWezBQTjHq/view?usp=sharing"
      >See full design brief.</a
    >
  </h4>
  <hr />
  <h2>Screenshots</h2>
  <p>
    Another inspiration was early 2000s website layouts and Telfar's promotional material on Instagram. Below, you will find the brand name layered over each other (right), the letters spelling Telfar (left), and images encircled by taglines (top right).
    <br />
    *None of the images used in the design are owned by me.*
  </p>
  <h4>
    <a target="_blank" href="https://editor.p5js.org/sboamah1/full/agpmPUWsl"
      >See website in action.</a
    >
  </h4>
  <img
    style="width: 100%"
    alt="Telfar Animated Typography"
    src="/assets/Boamah_TelfarFinal1.jpg"
  />
  <img
    style="width: 100%"
    alt="Telfar Animated Typography"
    src="/assets/Boamah_TelfarFinal2.jpg"
  />
  <img
    style="width: 100%"
    alt="Telfar Animated Typography"
    src="/assets/Boamah_TelfarFinal3.jpg"
  />
  <hr />
  <app-project-nav></app-project-nav>
</div>
