<div id="container">
  <h1 class="project-title">ReCollect</h1>
  <p>
    <strong>My Role:</strong> Mobile UI/Front-End Developer
    <br />
    <strong>Type of Project:</strong> Academic (Senior Design Project)
    <br />
    <strong>Technologies:</strong> Figma, Flutter, Firebase, Github
  </p>
  <br />
  <h2>Background</h2>
  <p>
    From May 2019 - Jan 2020, I worked in a senior care facility where I had to
    provide activities for individuals of various ages and abilities. Working
    with Dementia patients was where I realized my passion for accessibility.
    According to the Alzheimer's Association, more than 6 million people in the
    United States have Alzheimer's Disease. Especially because of the COVID-19
    pandemic, being away from families has further mentally stripped people with
    Alzheimer's or Dementia away from their loved ones, and individuals are
    slowly forgetting important memories as the years fly by. <br />
    <br />
    Through my Senior Design project, my goal was to study accessibility,
    implement user-centered design for the most vulnerable of users, and see how
    software can benefit individuals with neurodiversity and/or memory-related
    issues.
    <br />
    <br />
    My <strong>timeline</strong> was from September 2021 to May 2022.
  </p>
  <br />
  <h2>Research</h2>
  <p>
    For our research, the team focused on the second pillar of Alzheimer's prevention: Social Engagement. We additionally found studies on 
    reminiscence therapy, <a href="https://eldercarealliance.org/blog/benefits-reminiscence-therapy/">treatment that uses all the senses — sight, touch, taste, smell and sound — to help individuals with dementia remember events, people and places from their past lives.</a>
    Due to limitation to electronic devices, we researched the effects of using images and sound to treat Alzheimer patients.
    <br><br>
    During our initial research, we had the support of two medical professionals and two assisted livings.
    I was in charge of interviewing employees of an assisted living to understand the engagement levels between residents and their families, and see how COVID and technology have affected their relationships.
  </p>  
  <p>I also conducted my own secondary research about color theory to better inform our design system later on in development. 
    <a href="https://eldertech.org/color-in-designing-technology-for-seniors/">Blue</a> was the most popular color among all ages, so I factored that in when designing and implemented an application for families to enjoy.
    Lastly, it was important to approach designing this application with accessibility in mind, while recognizing the harm in <a href="https://cacm.acm.org/magazines/2021/7/253465-the-harm-in-conflating-aging-with-accessibility/abstract">confusing age with accessibility.</a>
  </p>
  <br>
  <h2>Development</h2>
  <p>
    The first four (4) weeks of the project lifecycle was dedicated to planning.
    The team consisted of five (5) software engineers with front-end,
    full-stack, and back-end experience. We met over Zoom and established our
    meeting structure of every Tuesday and Thursday. These meetings included
    sprint reviews and refining our backlog. We spent two weeks to finalize our
    project proposal.
    <br />
    The finalized <strong>project proposal</strong> was a mobile application
    that allows caregivers of someone with Alzheimer's, Dementia, or CTE to
    curate photos, audios, and videos to rejog their love one's memories. The
    goal is to help patients revive lost and forgotten memories while also being
    able to track how well the person is remembering their memories (data
    collection). 
    <br><br>
    The following weeks until May consisted of implementation, testing, crafting our business pitch, and showing five demos. 
    Our core functionality was completed and ready to show in Stevens' Innovation Expo 2022. 
  </p>
  <figure>
    <img src="assets/ReCollectPoster.png" width="100%" alt="A poster for Stevens' Innovation Expo showing the problem, solution, and core features of ReCollect">
    <figcaption>Image Caption: A poster for Stevens' Innovation Expo showing the problem, solution, and core features of ReCollect.</figcaption>
  </figure>
<br />
  <h2>Takeaways</h2>
  <ul>
    <li><strong>Design Systems:</strong> Constructed custom reusable widgets and styles compatible with iOS and Android devices, cutting UI development by 50% each month.</li>
    <li><strong>Collaboration:</strong> Worked alongside a team of five and many different stakeholders.</li>
    <li><strong>Empathy:</strong> Learned about people with memory-related ailments and how to advocate for them in a digital space.</li>
  </ul>
  <br />
    <br />
</div>
