<div id="container">
  <h1 class="project-title">ReCollect</h1>
  <h3>
    <strong>My Role:</strong> Mobile UI/Front-End Developer
    <br />
    <strong>Type of Project:</strong>Academic (Senior Design Project)
    <br />
    <strong>Technologies:</strong> Figma, Flutter, Firebase, Github
  </h3>
  <br />
  <h2>Background</h2>
  <p>
    From May 2019 - Jan 2020, I worked in a senior care facility where I had to
    provide activities for individuals of various ages and abilities. Working
    with Dementia patients was where I realized my passion for accessibility.
    According to the Alzheimer's Association, more than 6 million people in the
    United States have Alzheimer's Disease. Especially because of the COVID-19
    pandemic, being away from families has further mentally stripped people with
    Alzheimer's or Dementia away from their loved ones, and individuals are
    slowly forgetting important memories as the years fly by. <br />
    <br />
    Through my Senior Design project, my goal was to study accessibility,
    implement user-centered design for the most vulnerable of users, and see how
    software can benefit individuals with neurodiversity and/or memory-related
    issues.
    <br />
    <br />
    My <strong>timeline</strong> was from September 2021 to May 2022.
  </p>
  <br />
  <h2>Research</h2>
  <h3>Alzheimer's/Dementia</h3>
  <p>Secong pillar of prevention </p>
    <br>
  <p>Reminiscence Therapy</p>
    <br>
  <p>Assisted Living Interviews </p> 
  <img width="100%" src="/assets/SpringHillsInterviews.png">
 
  <h3>Color Theory</h3>
  <br>
  <h2>Development Planning</h2>
  <p>
    The first four (4) weeks of the project lifecycle was dedicated to planning.
    The team consisted of five (5) software engineers with front-end,
    full-stack, and back-end experience. We met over Zoom and established our
    meeting structure of every Tuesday and Thursday. These meetings included
    sprint reviews and refining our backlog. We spent two weeks to finalize our
    project proposal.
    <br />
    The finalized <strong>project proposal</strong> was a mobile application
    that allows caregivers of someone with Alzheimer's, Dementia, or CTE to
    curate photos, audios, and videos to rejog their love one's memories. The
    goal is to help patients revive lost and forgotten memories while also being
    able to track how well the person is remembering their memories (data
    collection). <br />
    <br />
    Our development plan consisted of:
  </p>

  <ul>
    <p><strong>Stakeholders:</strong></p>
    <li>Senior living facilities</li>
    <li>Families/caregivers who work at home</li>
    <li>Mental health service providers</li>
  </ul>

  <ul>
    <p><strong>Technologies:</strong></p>
    <li>Language: Dart</li>
    <li>UI Kit: Flutter</li>
    <li>Backend/Database/Release tool: Firebase</li>
    <li>Testing: Flutter Emulators for iOS and Android, Tablets, Laptops</li>
    <li>Continuous Integration (CI): CodeMagic</li>
    <li>Project Management: GitHub</li>
  </ul>
  <br /><br />
  <h3>Use Cases</h3>
  <img width="100%" src="assets/ReCollectUseCases.png">
  <h3>Sequence Diagram</h3>
  <img width="100%" src="assets/ReCollectSequence.png">
  <h3>Architecture</h3>
  <img width="100%" src="assets/ReCollectArchitecture.png">
  
  
  <img width="100%" src="assets/ReCollectGithubSlack.png">
  <img width="100%" src="assets/ReCollectCodemagicSlack.png">
</div>
