<div id="container">
  <h1 class="project-title">ReCollect</h1>
  <p>
    <strong>Role:</strong> Mobile UI Developer
    <br />
    <strong>Type of Project:</strong> Academic (Senior Design Project)
    <br />
    <strong>Technologies:</strong> Figma, Flutter, Firebase, Github
  </p>
  <p>
    <strong>Objective:</strong> To create a mobile application that enables
    users with memory-related ailments to connect with their families.
  </p>
  <p><strong>Timeline:</strong> September 2021 to May 2022</p>
  <hr />
  <h2>Background</h2>
  <p>
    From May 2019 - Jan 2020, I worked in a senior care facility where I
    provided activities for individuals of various ages and abilities. I
    discovered my passion for accessibility through working with Dementia
    patients. Over 6 million Americans
    are living with Alzheimer’s Disease (Alzheimer’s Association). The time
    spent away from their families further deteriorated the connections between
    individuals with Dementia and their loved ones as these individuals'
    memories faded over the years. <br />
    <br />
    Through my Senior Design project, I researched strategies for accessibility,
    implemented user-centered design for vulnerable populations, and gained
    insights into how software can particularly benefit neurodivergent
    individuals and individuals with memory-related issues.
    <br />
  </p>
  <hr />
  <h2>Research</h2>
  <p>
    Our team focused on the second pillar of Alzheimer’s prevention: Social
    Engagement. We first looked at publications on reminiscence therapy.
    <a
      target="_blank"
      href="https://eldercarealliance.org/blog/benefits-reminiscence-therapy/"
      >Reminiscence therapy</a
    >
    refers to treatment that uses all five senses to help individuals with
    Dementia better maintain memories. Due to being limited to electronic
    devices, we focused on the effects of visual and audio tools to treat
    patients diagnosed with Alzheimer’s Disease. <br /><br />
    During our initial research, we had the support of two medical professionals
    and two assisted livings. I interviewed employees of local assisted living
    facilities to understand the relationships between facility residents and
    their families, and the influence of the COVID-19 pandemic and technology on
    these relationships.
  </p>
  <p>
    I also conducted my own secondary research about color theory to better
    inform our design system later on in development.
    <a
      target="_blank"
      href="https://eldertech.org/color-in-designing-technology-for-seniors/"
      >Blue</a
    >
    was the most popular color among all ages, so I factored that in when
    designing and implementing an application for families to enjoy. Lastly, it
    was important to approach designing this application with accessibility in
    mind, while recognizing the harm in
    <a
      target="_blank"
      href="https://cacm.acm.org/magazines/2021/7/253465-the-harm-in-conflating-aging-with-accessibility/abstract"
      >confusing age with accessibility.</a
    >
    I ensured that the application catered to the needs of our older population
    while maintaining its appeal to all users.
  </p>
  <hr />
  <h2>Development</h2>
  <p>
    The first four (4) weeks of the project lifecycle was dedicated to planning.
    The team consisted of five (5) software engineers with front-end,
    full-stack, and back-end experience. We met over Zoom and established our
    meeting structure of every Tuesday and Thursday, which included sprint
    reviews and refining our backlog. We spent two weeks to finalize our project
    proposal.
    <br />
    The finalized <strong>project proposal</strong> was a mobile application
    that allows caregivers of someone with Alzheimer's, Dementia, or CTE to
    curate photos, audios, and videos to rejog their love one's memories. The
    goal is to help patients revive lost and forgotten memories while also being
    able to track how well the person is remembering their memories through data
    collection. <br /><br />
    The following weeks until May consisted of implementation, testing, crafting
    our business pitch, and showing five demos. My main focus was designing
    mockups in Figma and UI development in Flutter. Our core functionality was
    completed and ready to show in Stevens' Innovation Expo 2022.
  </p>
  <figure>
    <img
      src="assets/ReCollectPoster.png"
      width="100%"
      alt="A poster for Stevens' Innovation Expo showing the problem, solution, and core features of ReCollect"
    />
    <figcaption>
      Image Caption: A poster for Stevens' Innovation Expo showing the problem,
      solution, and core features of ReCollect.
    </figcaption>
  </figure>
  <hr />
  <h2>Takeaways</h2>
  <ul>
    <li>
      <strong>Design Systems:</strong> Constructed custom reusable widgets and
      styles compatible with iOS and Android devices, cutting UI development by
      50% each month.
    </li>
    <li>
      <strong>Collaboration:</strong> Worked with a team of five peers along
      with several different stakeholders.
    </li>
    <li>
      <strong>Empathy:</strong> Learned about the experiences of individuals
      with memory-related ailments and how to advocate for their needs within
      the digital space.
    </li>
  </ul>
  <app-project-nav></app-project-nav>
</div>
