#small-nav{
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

#links{
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 3px solid #4dffa3;
    padding: 10px;
}

a{
    text-decoration: none;
    color:black;
    margin: 20px;
    transition: 0.5s ease-in-out;
}

a:hover{
    font-style: italic;
    transition: 0.5s ease-in-out;
    text-shadow: 2px 0px 2px #bbb;
}

a:focus{
    font-style: italic;
    text-shadow: 2px 0px 2px #bbb;
}