.project-nav {
  padding: 20px;
  background-color: #f5f5f5;
  margin: 64px 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list a {
  color: #000;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.project-list a:hover {
  text-decoration: underline;
  transition: ease-in-out 0.5s;
}

.divider {
  padding: 0 5px;
}
