 <div id="about-card">
  <h2 class="section-title">
    about
  </h2>
  <div id="about-me">
    <div>
      <img src="assets/me.JPG">
    </div>
    <p id="bio">
      My name is Sylvia Boamah (Bwah-muh). My pronouns are she/her. I am a Ghanaian-American with a passion for design, mental health awareness, and social issues. I enjoy simple pleasures like looking at fonts and watching reality TV.

      I am a software engineer with a B.E. from Stevens Institute of Technology. I plan on pursuing a career in Software Development and UI/UX Design. I plan to utilize my skills in design and artistic expression to fuel my career. I thrive in creative spaces and avenues. Use this site as an opportunity to learn more about me and what I have to offer.
    </p>
  </div>
</div>
