#container{
    width: 60%;
    margin: 0 auto;
}


h3{
    font-weight: 100;
}

p{
    text-align: left;
}

a{
    color: #00582d;
}

    .gallery {
      display: inline-grid;
      width:100%;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      grid-template-columns: 42% 58%;
      grid-template-rows: auto;
      margin: 0 auto;
    }

 .gallery img{
  object-fit: fill;
 }

 .assets{
    text-align: center;
 }