<div id="container">
  <h1 class="project-title">Project Shadow</h1>
  <h3>
    <strong>My Role:</strong> Mobile UI Developer
    <br>
    <strong>Type of Project:</strong>*Startup Work
    <br>
    <strong>Technologies:</strong> Figma, Flutter
  </h3>
  <br />
  <p><strong>Responsibilities:</strong></p>
  <ul>
    <li>
      Working with the head UX Designer to create interactive mockups and finalize user flow for the mobile application.
    </li>
    <li>
      Building tools and UI widgets that track user investments,
      stock prices, and detailed stock portfolios in real time.
    </li>
    <li>Integrating an API and screen for a “reset password” feature.</li>
    <li>
      Updating the Trello boards to track project tasks and assign labels.
    </li>
    <li>
      Maintaining Agile workflow (daily standups, end of sprint demos, etc).
    </li>
  </ul>
  <br />
  <p><strong>The following pages I designed for approval:</strong></p>
  <ul>
    <li>Splash Page</li>
    <li>Login Page</li>
    <li>Registration Page</li>
    <li>Money Deposit Page</li>
  </ul>
  <br />
  <hr />

  <h2>User Flows</h2>
  <p>
    I joined the team late in the Prototype phase. It was very important for me throughout this project to understand the flow
    of the pages from the user's perspective. The following diagrams are how I interpreted the flow of the application in order for me to complete high fidelity prototypes.
    <br />
    (*the final flow and details about other further developments are kept secret 🤫).
  </p>
  <br /><br />
  <figure>
    <img width=" 100%" alt="User Flows" src="assets\UserFlowsPI.png" />
    <figcaption>Caption: Two flow charts are shown. The top one is for the Login and Sign Up flow. It starts at the splash screen where a user chooses to 
      register or login to their account. If they register, they must input their personal and banking information, allow or disallow notifications,
    and view Terms and Conditions. If they accept the terms/disclaimer, they can log into their new account.
  <br>
  The bottom one is for the Deposit Money flow. The user starts at the landing page where they click an "Add Money" button. They are shown a screen
  where they input a dollar amount, submit, and then go to a confirmation page.
  </figcaption>
  </figure>
  <hr />
  <br />

  <h2>Design System: Colors and Typography</h2>
  <p>
    The following typeface was chosen by the head UI/UX
    Designer, for which I had to implement into my designs. The team decided on a dark color scheme for our screens.
    The following color styles on Figma informed my designs and the overall design system of the application. 
  </p>
  <div class="gallery">
    <figure>
    <img
      width="100%"
      height="100%"
      src="assets\ColorsForPI.png"
      alt="Colors for Project Shadow"
    />
    <figcaption class="assets">Caption: The colors used for Project Shadow.</figcaption>
  </figure>
    <figure>
    <img
      width="100%"
      height="100%"
      alt="Segoe UI"
      src="assets\SegoeUI.png"
    />
    <figcaption class="assets">Caption: The font Segoe UI from A to Z.</figcaption>
  </figure>
  </div>
  <hr />
  <h2>High Fidelity Prototypes</h2>
  <figure>
  <img width="100%" src="assets\Shadow.png" alt="Project Shadow Hi-Fi Prototypes">
  <figcaption>Caption: This is a high fidelity prototype that shows the Login, Register, and Deposit Money flows.</figcaption>
  </figure>
  <p><strong>Splash/Registration/Login Pages</strong></p>
  <p>
    The goal of the team was to maintain the standard sign up/login flow within my screens,
    focusing on labeling buttons for their respective functions and labeling
    inside of the text fields for accessibility.
  </p>
  <p><strong>Deposit Money Pages</strong></p>
  <p>
    The team wanted users to deposit their money in a seamless and simplified manner.
    It was important to prioritize confirmation messaging and avoid deceptive patterns so the user knows what's happening throughout this feature with their money.
  </p>
  <hr />
  <br />
  <h2>Development</h2>
  <p>
    Finally, I spent the rest of the 3 months to bring the designs to life!
    <br>
    Project management throughout the lifecycle was handled through Trello. I met with the Senior Mobile Developer and Product Manager daily for standups. 
    In these standups, we tracked our progress, assigned tasks and their story points, and updated our backlog. 
    I integrated APIs and Flutter widgets to develop the first MVP of the application. Screens and features I worked on include the screens for the Login/Registration flows, the Profile page, and a Reset Password feature.
  </p>
  
  <h2>Takeaways</h2>
  <ul>
    <li>
      Accounting for the operating system while creating mockups (iOS vs.
      Android mobile applications).
    </li>
    <li>Building UI widgets that enhance user experience.</li>
    <li>How to extract real time data.</li>
    <li>
      Acquiring full stack experience by integrating an API for a “reset
      password” feature.
    </li>
    <li>Developing an understanding of databases and queries.</li>
    <li>
      Using Trello as an agile project management tool to track project tasks
      and deliver incremental value each week.
    </li>
    <li>
      Sprint planning, backlog grooming, daily standups, and end of sprint
      demos.
    </li>
  </ul>
  <br /><br />
</div>
