<div id="container">
  <h1 class="project-title">Positive Affirmation Generator</h1>
  <p>
    <strong>My Role:</strong> UI Designer, Front-end Developer<br />
    <strong>Type of Project:</strong> Personal<br />
    <strong>Software:</strong> Figma, VSCode, Photoshop
  </p>

  <p>
    <strong>Problem Statement:</strong> Generation Z is lacking a resource for
    daily affirmations that cater to any situation or emotion.
  </p>
  <p>
    <strong>Objective:</strong> To create a website that would generate various
    positive affirmations.
  </p>
  <p>
    <strong>My timeline:</strong> November 2019 to December 2021
  </p>

  <hr />
  <h2>Inspiration</h2>
  <p>
    2020 was an extremely hard year for everyone. I was inspired by love
    languages and how some cannot be met at this time in our lives. There are
    five love languages but I wanted to focus on Words of Affirmation. <br />
  </p>
  <hr />
  <br />
  <h2>First Iteration</h2>

  <figure>
    <img
      src="/assets/pag-demo.gif"
      alt="A demo of the first interation of the Positive Affirmation Generator"
    />
    <br />
    <figcaption>
      Caption: A demo of the first interation of the Positive Affirmation
      Generator.
    </figcaption>
  </figure>
  <br />
  <p>
    I used Figma to create mockups for the
    generator. Then I used a combination of HTML, CSS, and JavaScript to program
    the generator using an array of positive words. The generator would use "I
    am", "I believe", and "I will" as prompts for the user to choose from.
    <br /><br />
    The first iteration consists of the title "Positive Affirmation Generator",
    a description with credits and how to use the generator, a dropdown with
    prompt starter, and a "Generate" button to initiate the generator.
    <br /><br />
    After my first iteration, I revived the project in 2021 after continuing to
    see a demand for affirming words in the midst of COVID-19. I wanted to
    target Generation Z in my user feedback solicitation.
    <br /><br />
    The following are two of the usability studies I conducted: 
  </p>

  <div style="overflow-x: auto">
    <table class="tg">
      <thead>
        <tr>
          <th>User</th>
          <th>Feedback</th>
          <th>Resonating Affirmations</th>
          <th>Improvements</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="User:">23 years old</td>
          <td data-label="Feedback:">
            Functionality works.<br />Affirmations are great and effective.
          </td>
          <td data-label="Resonating Affirmations:">
            I am enough.<br />I believe I deserve love.<br />I believe in
            celebrating myself.<br />I will not let others define me.
          </td>
          <td data-label="Improvements:">
            Generate button should have a fixed position.<br />
            Letter spacing should be wider.<br />
            Buttons instead of dropdown for form choices.<br />
            Responsive to different devices.
          </td>
        </tr>
        <tr>
          <td data-label="User:">21 years old</td>
          <td data-label="Feedback:">
            Functionality works. Directions are clear. <br />Affirmations are
            motivational.
          </td>
          <td data-label="Resonating Affirmations:">
            I will allow imperfection. <br />I believe I am here for a reason.
            <br />
            I believe in celebrating myself.
          </td>
          <td data-label="Improvements:">
            Letter spacing should be wider. <br />
            Use of colors in the background and/or UI elements.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <p>From this feedback, I was able to make the following conclusions:</p>
  <ul>
    <li>
      <strong>Most resonating affirmation:</strong> I believe in celebrating
      myself.
    </li>
    <li>Use more color!</li>
    <li>Use clear microinteractions!</li>
    <li>
      <strong>Gulf of Execution:</strong> UI elements should work in the way
      it’s supposed to so users understand how to use the system.
    </li>
    <li>
      <strong>Gulf of Evaluation:</strong> buttons should be in fixed positions
      so no confusion impedes the user’s understanding of what has happened to
      the system.
    </li>
    <li>
      <strong>Letter spacing:</strong> Proper use of n and m quads for
      legibility
    </li>
  </ul>
  <hr />
  <h2>Color Scheme</h2>
  <figure>
    <img
      style="width: 100%"
      src="assets/PAGcolors.png"
      alt="The colors for my second iteration of the Positive Affirmation Generator. The colors are #083D00, #E0BD5C, #D57B32, and #1F1F1F."
    />
    <figcaption>
      Caption: The colors for my second iteration of the Positive Affirmation Generator. The colors are #083D00, #E0BD5C, #D57B32, and #1F1F1F.
    </figcaption>
  </figure>
  <p>
    I surveyed ten (10) users with five (5) different color schemes and asked
    which of them resonated as the most calming. The following palette was
    chosen to inform the rest of the second design:
  </p>
  <hr />
  <br />
  <h2>Second Iteration</h2>
  <h4 style="text-decoration: underline">
    <a href="https://posaffirmations.netlify.app/">See website in action</a>
  </h4>
  <br />
  <figure>
  <img
    style="width: 100%"
    src="assets/PAGseconddesign.jpg"
    alt="A screenshot of the second design for the Positive Affirmation Generator."
  />
  <figcaption>Caption: A screenshot of the second design for the Positive Affirmation Generator.</figcaption>
</figure>

  <hr />

  <br /><br />
  <app-project-nav></app-project-nav>
</div>
