<h2 class="section-title">projects</h2>
<div id="project-body">
<div *ngFor="let project of projects">
  <div class="card">
    <div class="card-body">
      <div>
        <img src={{project.img}} alt={{project.title}}>
      </div>
     <div class="info">
      <h3>{{project.title}}</h3>
      <h4 class="role">{{project.role}}</h4>
      <p class="caption" [innerHTML] = "project.description"></p>
      
      <a routerLink="/{{project.key}}">Learn More</a>
     </div>
    </div>
  </div>
</div>
</div>
<div>
  <div class="github-card" data-github="sboamah" data-width="100%" data-height="100%" data-theme="default"></div>
</div>