<div id="container">
<h1 class="project-title">Launch Hoboken Innovation Portal</h1>
      <p>
        <strong>Role:</strong> UI Designer<br>
        <strong>Type of Project:</strong> Competition<br>
        <strong>Software:</strong> Figma
      </p>
    
      <p>
        <strong>Project Description:</strong> The City of Hoboken's recently
        completed Innovation Center Feasibility Study maps out the potential for
        building a robust, coordinated, and equitable innovation ecosystem in
        Hoboken. One of the study's key recommendations is an online Innovation
        Portal, to serve as a "one-stop-shop" for innovation and entrepreneurial
        activity, resources, and contacts. To kick off the implementation of the
        study's recommendations, Stevens Venture Center, in collaboration with
        the City, is calling on future engineers, designers, programmers, and
        entrepreneurs to build a prototype web user interface for the future
        Innovation Portal.
  
      </p>

      <p>
        <strong>My Timeline:</strong>
        March 24, 2021 - March 31, 2021
      </p>

      <p>
        <strong>The following pages I designed:</strong>
      </p>
      <ul>
        <li>Placeholder page with Newsletter Subscription CTA</li>
        <li>Landing Page</li>
        <li>News Page</li>
        <li>Calendar Page</li>
        <li>Discussion Page</li>
        <li>Event Submission Form</li>
        <li>Inquiry Submission Form</li>
        <li>Sign In Page</li>
        <li>Registration Page</li>
      </ul>
      <hr />
      <br />
      <figure>
      <img
        style="width: 50%; display: block; padding: 5px; margin: 0 auto"
        src="assets/LH_LOGO.png"
      />
      <figcaption class="logo">Caption: The Launch Hoboken logo.</figcaption>
    </figure>
      <h2>Inspiration</h2>
      <p>
        The logo for Launch Hoboken was a substaintial inspiration for my design. I
        wanted to contribute to the branding of the portal by using
        rectangular vector geometry thoughout the pages. The stakeholders want to provide easy usability for finding
        entrepreneurial and innovative projects going on in Hoboken. Ease is
        best reflected by the use of lighter colors.<br /> 
      </p>
      <hr />
      <br />
      <h2>My process</h2>
      <p>I only had one week to design the screens so it was important that I understood my requirements. 
        I used Figma to design and prototype my ideas for the portal. Throughout my process, I maintained a list of the necessary 
      pages by my side, and checked off each page that I completed.</p>
      <hr>
      <br>
      <h2>First Interation: Finalist</h2>
      <figure>
      <video width="100%" controls>
        <source src="assets/LaunchHobokenVideo.mp4" type="video/mp4" />
         <br />
      </video><figcaption>Caption: This is a video of me explaining the flow of my first high-fidelity prototype.</figcaption>
    </figure>
     
      <br />
      <hr />
      <br />
      <h2>What I learned</h2>
      <p>
        Unfortunately, my submission did not win but as a finalist, I got to
        interview with the stakeholders at Launch Hoboken and implement the following
        from their feedback:
      </p>
      <br /><br />
      <h3><strong>Confirmation alerts for the forms:</strong></h3>
      <br /><br />
      <img
        class="mockup"
        width="100%"
        src="assets/LHevent.gif"
        alt="Confirmation for Event Submission Form"
      />
      <img
        class="mockup"
        width="100%"
        src="assets/LHinquiry.gif"
        alt="Confirmation for Inquiry Submission Form"
      />
      <br />
      <p>
        I addressed the stakeholders' concern about users submitting events and
        expecting any event to go through without approval. I implemented alerts
        for the forms to notify users that their submissions are being processed
        by using the Overlay in Figma. Specifically, for
        the event form, users will be notified that their event will be reviewed
        by the Launch Hoboken team.

        <br /><br />
      </p>

      <h3><strong>More Calls to Action (CTAs) in the Landing Page:</strong></h3>
      <br /><br />
      <img
        class="mockup"
        width="100%"
        src="assets/ImageCTAs.png"
        alt="New Landing Page"
      />
      <br />
      <p>
        I addressed the critique about users not being drawn enough
        into the landing page due to the lack of images and CTAs. I made
        accessing the other pages easier and more engaging on the landing page
        by using pictures and overlayed text to communicate various actions that
        users can do, such as viewing the news, seeing events on the calendar,
        and joining discussions. <br /><br />
      </p>

      <h2>Second Interation</h2>
      <p>
        I decided to change the shade of blue I to enhance the more inviting feel of the UI. Overall, the
        project was a great experience that I am happy to share!
      </p>
      <br />
      <br />
      <div class="gallery">
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-01.png"
          alt="Placeholder Page"
          title="Placeholder Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-04.png"
          alt="Calendar Page"
          title="Calendar Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-06.png"
          alt="Sign In Page"
          title="Sign In Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-07.png"
          alt="Registration Page"
          title="Registration Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-08.png"
          alt="Event Submission Page"
          title="Event Submission Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-11.png"
          alt="Inquiry Submission Page"
          title="Inquiry Submission Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-02.png"
          alt="Landing Page"
          title="Landing Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-03.png"
          alt="News Page"
          title="News Page"
        />
        <img
          width="100%"
          class="mockup"
          src="assets/Launch Hoboken 2.0-12.png"
          alt="Discussion Page"
          title="Discussion Page"
        />
      </div></div>