.error-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 150px auto;
    align-items: center;
    background: url("/assets/broken-link.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.error-container h1 {
    font-size: 7em;
    line-height: 0;
}

a {
    color: #00582d;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 900;
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }
  
  a:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
  }