a{
    color: #00582d;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 900;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

a:hover{
    text-decoration:underline;
    font-style: italic;
    transition: 0.5s ease-in-out;
}