<div id="container">
  <h1 class="project-title">Mercedes Santana Fashion Website</h1>
  <p>
    <strong>Role:</strong> Web Developer<br />
    <strong>Type of Project:</strong> Freelance <br />
    <strong>Software:</strong> Angular, Firebase
  </p>

  <p>
    <strong>Objective:</strong> To redesign a website for a fashion designer.
  </p>

  <p>
    <strong>My Timeline:</strong>
    May 2023 - August 2023
  </p>

  <h2>Background</h2>
  <p>
    Mercedes Santana is a Haute Couture fashion designer with more than 30 years
    of experience. An interview was conducted to gather her business and
    customer needs, wants, and pain points. With this information, I redesigned
    and developed a new website that best reflected her brand identity and
    values.
  </p>
  <h4 style="text-decoration: underline">
    <a href="https://mercedessantana.com/">See website in action</a>
  </h4>
  <img src="assets/merfash-homepage.gif" alt="Merfash Homepage" />
  <br /><br />
  <app-project-nav></app-project-nav>
</div>
