<div id="skills-card">
  <h2 class="section-title">
    skills
  </h2>
  <div>
    <table id="skills">
      <tr>
        <th>Languages</th>
        <th>Services</th>
        <th>Frameworks</th>
        <th>Software</th>
      </tr>
      <tr>
        <td>HTML</td>
        <td>UI Design</td>
        <td>Angular</td>
        <td>Figma</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Web Development</td>
        <td>Flutter</td>
        <td>Git/Github</td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td>Graphic Design</td>
        <td></td>
        <td>Firebase</td>
      </tr>   
      <tr>
        <td>Java</td>
        <td></td>
        <td></td>
        <td>Adobe Photoshop</td>
      </tr>  
      <tr>
        <td>Dart</td>
        <td></td>
        <td></td>
        <td>Adobe Illustrator</td>
      </tr>    
    </table>
  </div>
  
</div>
