<div id="currently-doing-card">
  <h2 class="section-title">
    what am I doing now?
  </h2>
  <div>
    <p id="bio">
      I am working for Chubb as a Software Engineer Associate. I am also available for any freelance work in web design, logo design & branding, and graphic design.
      <br><br>
      Featured: </p>
      <ul>
          <li><a routerLink="https://www.stevens.edu/campus-life/student-affairs/student-awards">Student Awards: Winner of Social Justice Advocate Award, Program of the Year for Advocac 2021, & Waldo Shumway Award 2022</a>
          </li>
          <li><a routerLink="https://www.instagram.com/p/CBjcK_-jHkS/">Stevens For Solidarity: Quotes from students demanding justice & social change</a>
        </li>
    </ul>
  </div>
</div>
