.loading-animation {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader {
  margin: 0 auto;
  width: 108px;
  height: 108px;
  border: 10px solid #00582d;
  border-bottom-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-top {
  position: fixed;
  bottom: 40px;
  display: flex;
  right: 40px;
  background-color: #00582d;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 32px;
  font-family: "DM Serif Text";
  font-weight: 900;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  text-align: center;
  border: none;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
}
