<header>
  <nav>
    <div class="name"><img src="assets/Logo_transparent.png" /></div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a
        href="https://www.figma.com/proto/8eymvJ62MgvGxkyKQ8CEOr/SylviaBoamah_SoftwareEngineeringResume?type=design&node-id=308-2&t=MjT9UVh2FUjXZ1cQ-1&scaling=scale-down&page-id=0%3A1&mode=design"
        >Resume</a
      >
    </div>
    <!-- <div class="dropdown">
    <button class="dropbtn" onclick="showLinks()"><img src="assets/hamburgerIcon.png">
    </button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="">Resume</a>
    </div>
  </div>  -->
  </nav>
</header>
<!-- <div id="menu">
  <div class="nav-item"><a routerLink="/">home</a></div>
  <div class="nav-item"><a routerLink="work">work</a></div>
  <div class="nav-item">
    <a
      routerLink="https://drive.google.com/file/d/1nCj2IgyV3IqITM6QK9q1QeroiFJhU1P2/view?usp=sharing"
      >resume</a
    >
  </div>
  <div class="nav-item"><a routerLink="contact">contact</a></div>
  <div class="nav-item">
    <a
      routerLink="https://www.redbubble.com/people/jollofrican/shop?asc=u"
      >shop</a
    >
  </div>
</div> -->
<script>
  function showLinks() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>
