<header>
    <nav>
    <div class="name"><a routerLink="/">Sylvia Boamah</a></div> 
    <img id="hamburger" routerLink="#" src='assets/hamburgerIcon.png'/><br><br>
    <ul id ="menu">
        <li class="nav-item"><a routerLink="/">home</a></li>
        <li class="nav-item"><a routerLink="work">work</a></li> 
        <li class="nav-item"><a routerLink="https://drive.google.com/file/d/1nCj2IgyV3IqITM6QK9q1QeroiFJhU1P2/view?usp=sharing">resume</a></li>
        <li class="nav-item"><a routerLink="contact">contact</a></li>
        <li class="nav-item"><a routerLink="https://www.redbubble.com/people/jollofrican/shop?asc=u">shop</a></li>
    </ul>
    </nav>
</header>