.card{
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #eee;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

.card-body{
    display: flex;
    position: relative;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.info{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    text-align: center;
    vertical-align: middle;
    background-color: #0000008e;
}

.info h2{
    margin-top:100px;
    color: #fff;
}

button{
    border: none;
    background-color: #fff;
    padding: 10px;
    color: #007a3f;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}