#skills-card{
    width:100%;
    margin:0px;
    padding: 10px;
    margin: 0 auto;
}

#skills {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {

    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(1) {
    border-bottom: 1px solid  #4dffa3;
  }