<div id="featured-body">
  <h2>Featured</h2>
  <div *ngFor="let feature of features">
    <div class="card">
      <div class="card-body">
        <img src="{{ feature.img }}" alt="{{ feature.title }}" />
        <div>
          <h3>
            <a *ngIf="feature.link" target="_blank" href="{{ feature.link }}">{{
              feature.title
            }}</a>
            <p *ngIf="!feature.link">{{ feature.title }}</p>
          </h3>
          <p>{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
