img {
  position: relative;
  width: 300px;
  padding-right: 20px;
  height: 300px;
  object-fit: cover;
}

.card-body {
  display: flex;
  padding-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .card-body {
    display: block;
  }

  img {
    width: 100%;
  }
}

a {
  color: #00582d;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #00b65e;
}
