<div id="container">
  <h1 class="project-title">PurPal: Cat Nutrition App Case study</h1>
        <h3>
          <strong>Role:</strong> Lead UI Designer<br>
          <strong>Type of Project:</strong> Google UX Design Case Study<br>
          <strong>Software:</strong> Figma
        </h3>

        <article class="project-overview">
          <h2>Project Overview</h2>
          <p>
            <strong>The product:</strong> PurPal is an app by a subscription cat food vendor that allows users to track their cat’s health, find healthy cat food alternatives for sale, and understand their ingredients. 
          </p>
          <p>
            <strong>Project duration:</strong> October 2022 –February 2023
          </p>
          <p>
            <strong>The problem:</strong> Cat owners lack information and resources, outside of vet visits, on the nutritional value of the cat food they purchase on a regular basis.
          </p>
          <p>
            <strong>The goal:</strong> Design a nutrition tracking app for a subscription cat food vendor.
          </p>
          <p><strong>Responsibilities</strong></p>
          <ul>
            <li>Conduct research</li>
            <li>Create wireframes and prototypes</li>
            <li>Conduct usability studies</li>
          </ul>
        </article>
        <hr>
        <h2>Understanding the user</h2>
        <article class="user-research">
          <h3 class="underline">User research: summary</h3>
          <p>I started conducting my research by recruiting cat owners within my social media circle to interview. These cat owners spanned different demographics between age, gender, and ethnic background. I held ~15 minutes interviews over the phone with permission to record the calls for notetaking. </p>
          <p>I had the assumption that cat owners would have a better idea of what was in their cat’s food because of regular vet visits and cat food purchase. From my findings, it was apparent that most cat owners had no clue what their companion was eating. It was important for me to find out why and how to help better communicate nutrition on a regular basis</p>
          
          <h3 class="underline">User research: pain points</h3>
          <ol>
            <li><strong>Lack of knowledge:</strong> Cat owners do not know about cat food ingredients, and veterinarians may not relay that information clearly.</li>
            <li><strong>Lack of transparency:</strong> The most popular cat brands do not prioritize health but rather taste, lacking transparency in what’s really in cat food.</li>
            <li><strong>Price vs. Health:</strong> Cat owners think the healthier options are the most expensive, making them have to choose between price and health. This is not equitable to lower income cat owners.</li>
            <li><strong>Tracking:</strong> Cat owners find it hard to track the meals and the purchases of food for their cat or multiple cats. </li>
          </ol>
        
        </article>

        <article class="personas">
          <h3 class="underline">Personas</h3>
          <section class="persona">
            <p><strong>Persona:</strong> Marium</p>  
            <img src="assets/Persona_Marium.png" alt="Persona for Marium, a busy mom with a cat and a visual impairment.">
            <p><strong>Problem statement:</strong> Marium is a busy mom and evolving professional who needs a quick and visually accessible way to research and purchase healthy cat food biweekly because she lacks the time to prioritize her cat’s health.</p>
          </section>
          <section class="persona">
            <p><strong>Persona:</strong> AJ</p>  
            <img src="assets/Persona_AJ.png" alt="Persona for AJ, a part-time, lower income student taking care of a cat with their family.">
            <p><strong>Problem statement:</strong> AJ is an undergraduate student with a part-time job who needs a balance between buying a monthly supply of healthy yet cheap cat food options because they are unsure how to find out if the brands financially accessible to them are the healthiest.</p>
          </section>
          <section class="persona">
            <p><strong>Persona:</strong> Dave</p>  
            <img src="assets/Persona_Dave.png" alt="Persona for Dave, a professor and car fosterer who needs to provide each of his cats with the right meals.">
            <p><strong>Problem statement:</strong> Dave is a professor and car fosterer who needs to provide each of his cats with the right meals for their health conditions daily because it is hard to track those meals and their nurtitional value on his own.</p>
          </section>
        
        </article>

        <article class="user-journeys">
          <h3 class="underline">User Journey Maps</h3>
          <section class="user-journey">
            <img src="assets/UserJourneyMap_Marium.png" alt="Marium's User Journey Map">
            <p>The goal for Marium was to buy a month supply of cat food. My thought process was to start with the normal flow of going to the store and making a purchase. Then, I factored in what would spark emotion through that process for busy individual with a visual impairment like farsightedness. This took research on the condition and empathizing with long wait times and difficult font sizes. From this, I was able to conclude on improvements for her current process.</p>
          </section>
          <section class="user-journey">
            <img src="assets/UserJourneyMap_AJ.png" alt="AJ's User Journey Map">
            <p>The goal for AJ was also to buy a month supply of cat food. My thought process was remained the same, to start with the normal flow of going to the store and making a purchase. However, I factored in their lack of knowledge on cat nutrition and the worry someone with lower income would have about pricing. This took researching price dissatisfaction and empathizing a way to alleivate that stress. From this, I was able to conclude on improvements for their current process.</p>
          </section>
          <section class="user-journey">
            <img src="assets/UserJourneyMap_Dave.png" alt="Dave's User Journey Map">
            <p>Dave has the same goal as the other personas. My thought process was remained the same, to start with the normal flow of going to the store and making a purchase. However, I factored in the stress of having multiple cats. This took empathizing ways to differentiate the needs of each cat. From this, I was able to conclude on improvements for his current process.</p>
          </section>
        </article>
        <hr>
        <h2>Starting the design</h2>
        <article class="paper-wireframes">
          <h3 class="underline">Paper Wireframes</h3>
        </article>
      </div>
