/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=DM+Sans&display=swap");
body {
  font-family: "DM Sans";
  background-color: #fff;
  scroll-behavior: smooth;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Outfit";
}
h2 {
  font-family: "Outfit";
  text-align: left;
}

.section-title {
  font-size: 2.5em;
  font-family: "Outfit";
  line-height: 1em;
  margin: 0 auto;
  color: #00582d;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 20px;
}

.project-title {
  font-size: 2.5em;
  line-height: 1em;
  font-family: "Outfit";
  margin: 0 auto;
  color: #00582d;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}

h4 {
  font-weight: 300;
}

p,
li {
  font-size: 1em;
}

hr {
  border: 1px solid #eee;
  background-color: #eee;
  margin: 40px 0;
}

figcaption {
  font-size: 13px;
}

figure {
  width: 100%;
  margin-left: 0px;
}

#container {
  width: 70%;
  margin: 32px auto;
}

@media screen and (max-width: 588px) {
  #container {
    width: 90%;
  }
}
