/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    font-family: 'Jost';
}

.section-title{
    font-size: 2em;
    line-height: 1em;
}