<div id="container">
  <h1 class="project-title">Path Pioneer: Career Coaching App Case Study</h1>
  <p>
    <strong>Role:</strong> UX Designer<br />
    <strong>Type of Project:</strong> Academic (Google UX Design Certification)
    <br />
    <strong>Software:</strong> Figma
  </p>

  <p>
    <strong>Objective:</strong> Created a web and mobile prototype for a career
    coaching app for first-generation students.
  </p>

  <p>
    <strong>My Timeline:</strong>
    March 2023
  </p>
  <hr />
  <h2>Project overview</h2>
  <p>
    PathPioneer is a multi-platform career coaching service to help
    first-generation college students navigate the job market with tailored
    resources and the advice of professionals with similar lived experiences.
  </p>
  <h3>The Problem</h3>
  <p>
    One-third of all college students in the US are first-generation. This
    population feels pressure to succeed in the job market but without the same
    resources, connections, and tools as their counterparts.
  </p>
  <h3>The Goal</h3>
  <p>
    Design a multi-platform career coaching service to help first-generation
    college students and recent graduates.
  </p>
  <h3>Responsibilities</h3>
  <ul>
    <li>Conduct research</li>
    <li>Create wireframes and prototypes</li>
    <li>Conduct usability studies</li>
  </ul>
  <hr />
  <h2>User Research</h2>
  <p>
    I started conducting my research by recruiting first-generation college
    students and recent graduates to interview. These first-gen students spanned
    from ages 18-26 and different demographics between gender and ethnic
    background. I held ~15 minutes interviews over the phone with permission to
    record the calls for notetaking.
  </p>
  <p>
    Participants reported that they felt lost at one point in their college
    career, and that having some type of mentorship helped them to succeed. I
    wanted to make this mentorship more readily accessible.
  </p>
  <p>
    I created an audit to research competitors and find gaps that PathPioneer
    could address and solve. Additionally, I performed a quick ideation exercise
    called Crazy 8s to address gaps found in the competitive audit. I focused on
    making features specific to the needs of first-gen students and graduates.
  </p>
  <h3>Personas</h3>
  <article class="personas">
    <section class="card">
      <h4>Persona #1: Sal</h4>
      <p>
        Problem statement: Sal is a first-gen college senior who needs guidance
        on discovering their personality, interests, and career goals because
        they want to take the appropriate steps toward a fulfilling career after
        graduation.
      </p>
    </section>
    <section class="card">
      <h4>Persona #2: Gloria</h4>
      <p>
        Problem statement: Gloria is a first-gen college graduate who needs to
        develop their professional network because they lack the connections and
        experience needed to find a job that uses their skillset.
      </p>
    </section>
  </article>
  <hr />
  <h2>Designing</h2>
  <h3>Key Wireframes</h3>
  <article class="key-wireframes">
    <section>
      <img
        class="wireframe"
        src="assets/PathPioneer_Homepage.png"
        alt="Homepage of the Path Pioneer app. Arrows are pointing to the following features: translating feature, questionnaire to match with coaches, preview of available coaches, and a menu for easy global navigation."
      />
    </section>
    <section class="wireframe-text">
      <h4>Homepage</h4>
      <p>
        The purpose of the homepage is to give a preview of what the app
        provides. This design helps the user view all available features and
        access easy global navigation through the app.
      </p>
    </section>
  </article>
  <article class="key-wireframes">
    <section>
      <img
        class="wireframe"
        src="assets/PathPioneer_CoachesPage.png"
        alt="Coaches Page of the Path Pioneer app. Arrows are pointing to the following features: ability to search and filter for your desired coach and a list of available coaches."
      />
    </section>
    <section class="wireframe-text">
      <h4>Coaches Page</h4>
      <p>
        After ideation, the purpose of the “Available Coaches” page is to list
        out the coaches on this platform. The user can also search and filter
        out coaches based on their needs.
      </p>
    </section>
  </article>
  <article class="key-wireframes">
    <section>
      <img
        class="wireframe"
        src="assets/PathPioneer_CoachProfile.png"
        alt="Coach Profile of the Path Pioneer app. Arrows are pointing to the following features: information about the coach and ability to message or schedule a call with the coach."
      />
    </section>
    <section class="wireframe-text">
      <h4>Coach Profile</h4>
      <p>
        The purpose of the “Coach Profile” page is for coaches to share their
        experience for users to make an informed decision on connecting with
        them via call or direct message.
      </p>
    </section>
  </article>

  <h3>Lo-Fi Prototype</h3>
  <p>
    To prepare for usability testing, I created a low-fidelity prototype so that
    participants can view the flow to schedule a call with a coach.
  </p>
  <a
    target="_blank"
    href="https://www.figma.com/proto/UFFSWBKGaCa6UGJtyaEKuV/Google-UX%3A-Career-coaching-project?page-id=0%3A1&node-id=1-2&viewport=124%2C157%2C0.14&scaling=scale-down&starting-point-node-id=1%3A2"
  >
    Low Fidelity Prototype for PathPioneer career coaching app
  </a>
  <hr />
  <h2>Usability Testing and Mockups</h2>
  <h3>Usability study findings</h3>
  <ol>
    <li>
      <strong>Networking</strong>: Users want to know who’s going to which
      events or affiliated with which organization.
    </li>
    <li>
      <strong>Input fields</strong>: Users need more specific answer formats for
      the questionnaire.
    </li>
    <li>
      <strong>Upcoming calls</strong>: Users need to save their scheduled calls
      somewhere on the app.
    </li>
  </ol>
  <h3>Mockups after Usability Testing</h3>
  <article class="key-wireframes">
    <section class="wireframe-text">
      <p>
        Based on the insights from the usability study, I edited the design of
        the input fields for the questionnaire. The user is now able to add
        multiple, separate answers for the first three questions and a range for
        the last two via dropdowns.
      </p>
    </section>
    <section>
      <img
        class="wireframe"
        src="assets/Mockup1.png"
        alt="The questionaire page before and after"
      />
    </section>
  </article>
  <article class="key-wireframes">
    <section class="wireframe-text">
      <p>
        Also based on the insights, I edited my design to show which coaches are
        going to events or are affiliated with any organizations featured on the
        “Resources” page.
      </p>
    </section>
    <section>
      <img
        class="wireframe"
        src="assets/Mockup2.png"
        alt="The resources page before and after"
      />
    </section>
  </article>
  <article class="key-wireframes">
    <section class="wireframe-text">
      <p>
        Additional design changes include adding a section on the “User Profile”
        to show scheduled calls and a “Preview Mode” button to show the user how
        their profile will look to the coaches.
      </p>
    </section>
    <section>
      <img
        class="wireframe"
        src="assets/Mockup3.png"
        alt="The user profile page before and after"
      />
    </section>
  </article>
  <h3>Hi-Fi Prototype</h3>
  <p>
    The high-fidelity prototype for PathPioneer has the same flows as the
    low-fidelity protype but with design refinements based on the usability
    study.
  </p>
  <a
    target="_blank"
    href="https://www.figma.com/proto/UFFSWBKGaCa6UGJtyaEKuV/Google-UX%3A-Career-coaching-project?page-id=73%3A357&node-id=73-358&viewport=-2710%2C-735%2C0.25&scaling=scale-down&starting-point-node-id=73%3A358&show-proto-sidebar=1"
  >
    High Fidelity Prototype for PathPioneer career coaching app
  </a>
  <hr />
  <h2>Accessibility</h2>
  <h3>Accessibility considerations</h3>
  <ol>
    <li>
      <strong>Translation</strong>: Users need to be able to translate text to
      their desired language.
    </li>
    <li>
      <strong>Use of text</strong>: Users need clear labels wherever necessary
      to indicate their functionality, especially in the menu and in buttons.
    </li>
    <li>
      <strong>Screen reader compatibility</strong>: Users need the app to be
      compatible with screen readers. This includes focusing on text and layout
      heirarchy.
    </li>
  </ol>
  <hr />
  <h2>Responsive design</h2>
  <article class="key-wireframes">
    <section class="wireframe-text">
      <p>
        I created designs for screen variation including mobile, tablet, and
        desktop. To best fit user needs across these platforms, I optimized the
        designs to include different menu styles, element sizes, and focal
        points.
      </p>
    </section>
    <section>
      <img
        class="wireframe"
        src="assets/ResponsiveDesign.png"
        alt="Responsive Design of Path Pioneer. The mobile view is on the left, tablet view in the middle, and desktop view on the right."
      />
    </section>
  </article>
  <hr />
  <h2>Takeaways and Next Steps</h2>
  <p>
    I learned the importance of user centricity. Focusing on every possible end
    user and the platforms that they can access creates impactful design.
    Everyone deserves to be represented in all aspects of design and the product
    lifecycle.
  </p>
  <h3>Next Steps</h3>
  <ol>
    <li>
      <strong>Adding a view for coaches</strong>: I would like to design a user
      experience for coaches on the app  to edit their profile and see who
      wants to connect with them. Also, I would add a way for coaches to verify
      their experiences, so users know they’re qualified.
    </li>

    <li>
      <strong>Revisit “Scheduled Calls” section</strong>: I would want to
      potentially create a new page that shows scheduled calls instead of a
      section on the “User Profile”.
    </li>

    <li>
      <strong>Note-writing</strong>: I would like to design a page on the app
      that is dedicated to notes that users can take during their job search or
      college experience.
    </li>
  </ol>
  <img src="assets/PathPioneerWalkthrough.gif" />
  <app-project-nav></app-project-nav>
</div>
