<div id="container">
  <h1 class="project-title">Path Pioneer: Career Coaching App Case Study</h1>
  <p>
    <strong>Role:</strong> UX Designer<br />
    <strong>Type of Project:</strong> Academic (Google UX Design Certification) <br />
    <strong>Software:</strong> Figma
  </p>

  <p>
    <strong>Objective:</strong> Created a web and mobile prototype for a career coaching app for first-generation students.
  </p>

  <p>
    <strong>My Timeline:</strong>
    March 2023
  </p>
  <img src="assets/PathPioneerWalkthrough.gif">
</div>