<div id="container">
  <div id="about-me">
    <p id="bio">
      My name is Sylvia Boamah (Bwah-muh). I am a
      Ghanaian-American with a passion for social justice and accessibility in UX design. I am a software engineer with a B.E. in Software Engineering from Stevens
      Institute of Technology. I am pursuing a career in Front-End Development
      and UX. In my free time, I love making music and art, going to concerts, and catching up on reality TV shows.
      <br /><br />
      I am working for <strong>Chubb</strong> as a
      <strong>Software Engineer Associate</strong>. <br /><br />
      I am available for freelance work in web/UX design, logo design &
      branding, and graphic design.
    </p>
  </div>
  <hr />
  <div>
    <h2>Skills</h2>
    <ul>
      <li><strong>Languages:</strong> HTML/CSS, JavaScript, Java, Dart</li>
      <li>
        <strong>Frameworks:</strong> Angular, Flutter, React, Tailwind, Redux
      </li>
      <li>
        <strong>Software/Platforms:</strong> Figma, Adobe PhotoShop, Adobe
        Illustrator, Firebase, Git/GitHub, Jira, Trello
      </li>
      <li>
        <strong>Certifications:</strong> Google UX Design Specialization,
        Microsoft Azure Fundamentals
      </li>
    </ul>
  </div>
  <hr />
  <app-featured></app-featured>
  <hr />
  <app-contact></app-contact>
</div>
