#about-me{
    display:flex;
    
}

@media screen and (max-width:980px) {
    #about-me{
        display:block; 
    }
    
}



#about-me div{
    flex: 1;
}


img{
    width: 100%;
    margin-top:30px;
    
}

#bio{
    padding-left: 20px;
    margin-top: 30px;
    font-size: 1.1em;
    line-height: 1.2em;
}

hr{
    border: 3px solid #4DFFA3;
    background-color: #4DFFA3;
}